<configuration scan="true"> 
    <logger name="io.perfmark" level="INFO" />
    <logger name="io.grpc" level="INFO" />
    <logger name="io.netty" level="INFO" />
    <logger name="org.eclipse.jetty" level="INFO" />
    <logger name="com.zaxxer.hikari" level="INFO" />
    <logger name="org.postgresql" level="INFO" />
    <logger name="eclipselink.logging" level="INFO" />
    <logger name="eclipselink.logging.sql" level="DEBUG" />
    <logger name="org.quartz.core" level="INFO"/>
    <logger name="org.apache.pulsar" level="ERROR"/>
    <logger name="org.apache.curator" level="DEBUG"/>
    <logger name="org.apache.zookeeper" level="ERROR"/>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{40} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/wallet.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/wallet-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{60} - %msg%n</pattern>
        </encoder>
    </appender> 

    <root level="TRACE">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />     
    </root>
</configuration>

